/* CSS FOR ENTIRE APP */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin-top: 0px;
  background-color: #eeeeee;
  width: 100%;
}

header {
  background-color: #27AE60;
  border-radius: 0 0 5em 0;
  margin: 0 5% 0 0;
  padding: 1.5em;
  text-align: left;
}

image {
  max-width: 20%;
  height: auto;
}

p {
  margin: 1% 0 0 0;
  color: #000000;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 1.4rem;
  padding: 0 0 4% 0;
  margin: 1% 0 0 0;
}

a:hover {
  cursor: pointer;
  color: #166C3B;
}

h1 {
  color: #000000;
  text-align: left;
  margin: 0em;
  font-size: 1.5em;
}

h2 {
  color: #166C3B;
  text-align: left;
  padding: 0em;
  font-size: 2.5em;
  margin: 0% 0;
}

ul {
  list-style-type: none;
}

input {
  /* child of content-box */
  box-sizing: border-box;

  outline: none;
  border-radius: 10em;
  color: #219653;

  width: 98%;

  height: 1.8em;
  margin: 1% auto;
  padding: .7em;
  font-size: 1.4em;
  background: #DEDEDE;
  border-style: none;
  box-shadow: 0em 0em .12em black;
}

button {
  margin: 1% 1%;
  color: #FFF;
  background: #166C3B;
  border-radius: 2em;
  padding: .5em 1em;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

button:hover {
  background: #6FCF97;
  color: #F2F2F2;
  transition: all 0.3s ease-out;
}

/* GENERAL STYLE CLASSES */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightAlign {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.greyBox {
  /* parent of border-box */
  box-sizing: content-box;
  width: 95%;

  /* spans for all content inside greybox container */
  overflow: hidden;

  padding: 1% 0 1% 2%;
  margin: 0 2em 1% 0em;
  background-color: #C4C4C4;
  border-radius: 1em;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1%;
}

.block {
  display: block;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: left;
  padding-top: 1%;
  margin: 0 auto;
}

.inline {
  display: inline;
  color: white;
}

.content {
  margin-left: 17em;
}

.link {
  color: #166C3B;
  text-align: left;
  margin: 0em;
  font-size: 1.5em;
  text-decoration: none;
}

.link:hover {
  color: #6FCF97
}

.searchResults {
  display: flex;
  flex-direction: column;
  padding-top: 1%;
  margin-left: 3em;
}


/* can totally change this if need be, just adding for testing purposes */
.greyBox .postInput {
  position: relative;
  float: left;
  /* margin-right: 2%; */
  width: 98%;
}

/* can totally change this if need be, just adding for testing purposes */
.greyBox button {
  position: relative;
  float: right;
  margin-right: 2%;
}

/* can totally change this if need be, just adding for testing purposes */
.postContent {
  font-size: calc(2px + 2vmin);
  color: black;
}

/* can totally change this if need be, just adding for testing purposes */
.postTs {
  font-size: calc(2px + 2vmin);
  color: grey;
}

/* can totally change this if need be, just adding for testing purposes */
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #5ec478 #eeeeee;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 17px;
  }

  *::-webkit-scrollbar-track {
    background: #eeeeee;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #5ec478;
    border-radius: 10px;
    border: 3px solid #eeeeee;
  }