body, html, #root, .app, .container {
  width: 100%;
  padding: 0 0 0 65px;
  height: 100%;
  /* height: 100%; */
}

.container {
  padding: 0 0 0 65px;
  font-size: 2rem;
  color: black;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.profile,
.settings,
.home,
.forums {
  padding-top: 15px;
}

.login {
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #27AE60;
}

/* .inputField {
  padding-top: 12px;
}

.input {
  box-sizing: border-box;
  outline: none;
  border: solid 2px #30a800;
  border-radius: 8px;
  color: #292929;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  background: rgba(255, 255, 255, 1);
} */

/* .submitButton {
  padding-top: 16px;
} */

.btn {
  width: 100px;
  color: #292929;
  padding: 12px;
  font-size: 1.5rem;
  border: solid 2px #30a800;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.btn:hover {
  background: #6FCF97;
  color: #fff;
  transition: all 0.3s ease-out;
}

.btn-gap {
  padding-top: 25px;
}