* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.profile,
.forums,
.settings {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.sign-up {
  display: flex;
  padding-top: 30px;
  column-count: 1;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.sign-item {
  display: flex;
  padding-top: 30px;
  column-count: 1;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.sign-item-a {
  display: flex;
  padding-top: 30px;
  column-count: 1;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.sign-item-b {
  display: flex;
  padding-top: 10px;
  column-count: 1;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
